@font-face{
  font-family: "opensans-regular";
  src:
      url(../fonts/Open_Sans/OpenSans-Regular.ttf) format("truetype"),
      url(../fonts/Open_Sans/OpenSans-Regular.woff) format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face{
  font-family: "opensans-semibold";
  src:
      url(../fonts/Open_Sans/OpenSans-Semibold.ttf) format("truetype"),
      url(../fonts/Open_Sans/OpenSans-Semibold.woff) format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face{
  font-family: "opensans-bold";
  src:
      url(../fonts/Open_Sans/OpenSans-Bold.ttf) format("truetype"),
      url(../fonts/Open_Sans/OpenSans-Bold.woff) format("woff");
  font-style: normal;
  font-weight: normal;
}

