.field--name-field-link{
  a{
    display: inline-block;
    margin: 0 auto;
    color: $red;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1.2;
    padding: 13px 60px;
    border: 1px solid $red;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    @extend .transition;
    &:hover{
      color: $white;
      background: $red;
    }
  }
}

.events-calendar-field{
  display: block;
  width: 100%;
  font-size: 18px;
  line-height: 20px;
  text-transform: capitalize;
  color: $gray-light-2;
  margin-bottom: 20px;
  padding: 15px 20px 15px 20px;
  //background-image: url("../img/select-triangle.png");
  background-color: $gray-light-bg;
  background-repeat:no-repeat;
  background-position: right 20px center;
  border: none;
  border-bottom: 2px solid $red-light;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  &:first-child{
    margin-left: 0;
  }
}

.events-calendar-form{
  .title{
    font-size: 36px;
    line-height: 40px;
    text-transform: capitalize;
    margin-bottom: 25px;
  }
  .date-input{
    @extend .clearfix;
    input{
      //background-image: url(../img/calendar-red.png);
      float: left;
      width: 48%;
      margin-left: 4%;
      &:first-child{
        margin-left: 0;
      }
    }
  }
  .date-submit{
    @extend .clearfix;
    input.search{
      background: $red;
    }
    input{
      float: left;
      border: none;
      width:48%;
      margin-left: 4%;
      &:first-child{
        margin-left: 0;
      }
    }
  }
}

