@media screen and (max-width: $tablet) {

  main{
    .view-gallery .item-list ul{
      li, li:last-child{
        width: 30%;
        max-width: none;
        a{
          width: 100%;
        }
        &:nth-of-type(3), &:nth-of-type(5){
          width: 40%;
          max-width: none;
          a{
            width: 100%;
            img{
              width: auto;
              height: 100%;
            }
          }
        }
      }
    }
    .view-organizer{
      padding: 25px;
    }
    #block-kontakti{
      .field--type-text-with-summary > div{
        width:49%;
      }
    }
  }

}

@media screen and (max-width: $mobile) {

  header{
    &:after{
      display: none;
    }
    .field--name-field-banner-image{
      img{
        width: auto;
        max-width: none;
      }
    }
  }

  footer{
    overflow: hidden;
    .field--name-field-banner-image{
      height: 500px;
      img {
        overflow: hidden;
        width: auto;
        max-width: none;
        height: 100%;
      }
    }
  }

  main{
    h2.block-title {
      font-size: 21px;
    }
    .region-content{
      &> div.block{
      }
    }

    .field--name-field-home-section{
      .paragraph--type--section{
        .field--name-field-section-images{
          width: 100%;
          float: none;
        }
        .text-content-wrapper{
          width: 100%;
          float: none;
          padding: 120px 50px;
          -webkit-transform: translateY(0);
          -moz-transform: translateY(0);
          -ms-transform: translateY(0);
          -o-transform: translateY(0);
          transform: translateY(0);
        }
      }
    }

    .block-views-blockspeaker-speackers-home{
      .view-speaker{
        height: auto;
        .views-row{
          width: 100%;
          .field--name-field-image {
            max-height: 400px;
            img{
              width: 100%;
            }
          }
          .speacker-text-wrapper{
            .field--name-title{
              font-size: 32px;
            }
            .field--name-field-info{
              font-size: 22px;
            }
          }
        }
      }
    }

    #block-programa{
      .schedule > div{
        width: 100%;
        padding: 25px;
        display: block;
        div{
          display: block;
          width: 100%;
        }
      }
    }

    .view-gallery{
      .item-list ul{
        li, li:nth-of-type(5){
          width: 45%;
          max-width: 45%;
          &:nth-of-type(2), &:nth-of-type(3), &:last-child{
            width: 55%;
            max-width: 55%;
            a{
              width: 100%;
              img{
                width: auto;
                height: 100%;
              }
            }
          }
        }
      }
    }

    .field--name-field-map{
      cursor: pointer;
      @include overlay;
      &.overlay-hide{
        &:before{
          top: 100%;
          height: 0;
        }
      }
      iframe {
        height: 500px;
      }
    }

    .view-organizer{
      .views-row{
        width: 50%;
        float: left;
        vertical-align: top;
      }
    }

    #block-kontakti{
      .field--type-text-with-summary{
        padding: 25px;
        &>div{
          font-size: 20px;
          display: block;
          width: 100%;
          margin-bottom: 15px;
          &:last-child{
            margin-bottom: 0;
          }
        }
      }
    }

    a.top{
      width: 40px;
      height: 40px;
      &:after{
        top: 15px;
        left: 12px;
        width: 15px;
        height: 15px;
        border-left-width: 2px;
        border-bottom-width: 2px;
      }
    }

    //------ page gallery ------
    .field--name-field-gallery-images{
      .field__item {
        width: 50%;
      }
    }
    .field--name-field-video-embed{
      .field__item{
        width: 100%;
      }
    }
  }

  .slick-slider {
    .slick-arrow {
      width: 40px;
    }
    .slick-prev{
      left: 0;
      &:after{
        left: 15px;
      }
    }
    .slick-next{
      right: 0;
      &:after{
        left: 5px;
        transform: rotate(-135deg);
      }
    }
  }

}

