
@mixin wrapper{
  max-width: $page-width;
  margin: 0 auto;
  @extend .clearfix;
}

@mixin fontbase($ff){
  font-family: $ff;
}

@mixin transition($s: 0.3s){
  -webkit-transition: all $s ease 0s;
  -moz-transition: all $s ease 0s;
  -o-transition: all $s ease 0s;
  transition: all $s ease 0s;
}

@mixin button-slider-nav{
  text-indent: -9999px;
  border:none;
  background: $gray-light;
  width:  14px;
  height: 14px;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  &:hover{
    background: $gray;
    @include transition;
  }
}

@mixin overlay{
  &:before{
    @include transition(.5s);
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    background: rgba($white, 0.3);
    width: 100%;
    height: 500px;
  }
}

@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}
@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}