@import "variables.scss";

/* Body
-------------------------------------------------------------- */

body {
  @extend .clearfix;
  font-family: $font-regular;
  margin: 0;
  padding: 0;
  color: $black;
  min-height: 100%;
  background: $white;
}

/* Logo
-------------------------------------------------------------- */
.field--name-field-banner-image{
  position: relative;
  img{
    -webkit-filter: brightness(0.15);
    filter: brightness(0.15);
    -webkit-filter: grayscale(0.6);
    filter: grayscale(0.6);
  }
  &:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.85);
    background-size: cover, cover;
  }
}
.field--name-field-caption {
  font-family: $font-bold;
  font-size: 36px;
  line-height: 1.2;
  text-transform: uppercase;
  color: $red;
  margin: 50px 0 0 0;
  text-decoration: none;
  letter-spacing: 2px;
  a {
    @extend .transition;
    color: inherit;
    &:hover {
      color: $gray;
    }
  }
}
.field--name-field-subtitle{
  font-family: $font-semibold;
  font-size: 24px;
  line-height: 1.2;
  color: $blue;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 35px 0;
}

header{
  @extend .clearfix;
  position: relative;
  background: $white;
  text-align: center;
  &:after{
    content: '';
    display: block;
    background: url("/themes/cinema/images/icons/mouse-outline.png")no-repeat 50% 50%;
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: 30px;
    height: 30px;
  }
  .field--name-field-banner-image{
    height: 600px;
    overflow: hidden;
    img{
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      max-width: none;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }
  .text-wrapper{
    position: absolute;
    top: 90px;
    left:0;
    right: 0;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    &>a{
      width: 100px;
      height: 100px;
      margin: 0 auto;
      display: block;
    }
  }
}

footer{
  @extend .clearfix;
  position: relative;
  .field--name-field-banner-image{
    img{
      width: 100%;
    }
  }
  .field--name-field-link{
    a{
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }
}

main{
  text-align: center;

  h2.block-title{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 60px;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .region-content{
    &>.block{
      @include wrapper;
      margin-top: 70px;
    }
  }

  .field--type-text-with-summary{
    max-width: 80%;
    margin: 0 auto;
    margin-top: 45px;
    p{
      font-size: 18px;
      line-height: 28px;
      text-align-last: center;
    }
  }

  .field--name-field-home-section{
    margin-top: 80px;
    .paragraph--type--section{
      @extend .clearfix;
      width: 100%;
      text-align: center;
      .field--name-field-section-images{
        width: 50%;
        float: left;
        img{
          width: 100%;
        }
      }
      .text-content-wrapper{
        padding: 0 100px;
        color: $red;
        width: 50%;
        float: right;
        -webkit-transform: translateY(50%);
        -moz-transform: translateY(50%);
        -ms-transform: translateY(50%);
        -o-transform: translateY(50%);
        transform: translateY(50%);
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }
      .field--name-field-icon{
        img{
          margin: 0 auto;
        }
      }
      .field--name-field-title{
        font-family: $font-semibold;
        font-size: 24px;
        text-transform: uppercase;
        margin-top: 30px;
        margin-bottom: 30px;
      }
    }
    &>.field__item{
      &:nth-child(even){
        .field--name-field-section-images{
          float: right;
        }
        .text-content-wrapper{
          color: #2FACE4;
          float: left;
        }
      }
    }
  }

  .field--name-field-image{
    img{
      margin: 0 auto;
    }
  }

  .field--name-field-info{
    margin-top: 35px;
  }

  .block-views-blockspeaker-speackers-home{
    .view-speaker{
      @extend .clearfix;
      overflow: hidden;
      .views-row{
        width:25%;
        float: left;
      }
      .node--type-spicker{
        &>a{
          display: block;
          position: relative;
          &:hover{
            .speacker-text-wrapper {
              top: 0;
              background: rgba(0, 0, 0, 0.51);
            }
          }
        }
        .speacker-text-wrapper{
          transition: all .3s ease 0s;
          @extend .transition;
          position: absolute;
          top: 100%;
          left:0;
          text-align: center;
          color: #cbcbcb;
          width: 100%;
          height: 100%;
          .inner-wrapper{
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
          }
          .field--name-title{
            font-size: 22px;
            margin: 10px 0;
            display: block;
          }
          .field--name-field-info{
            font-size: 12px;
            margin: 10px 0;
          }
        }
      }
    }
  }

  #block-programa{
    .schedule{
      display: table;
      width: 100%;
      color: $white;
      @extend .clearfix;
      &>div{
        display: table-cell;
        text-align: left;
        width: 50%;
        padding: 45px 50px 80px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        div{
          vertical-align: top;
          margin-top: 35px;
          width:49%;
          display: inline-block;
          text-align: center;
        }
      }
    }
    .field--name-field-left-column{
      background: $red;
    }
    .field--name-field-right-column{
      background: $blue;
    }
  }

  .view-gallery{
    .item-list{
      ul{
        margin: 0;
        @extend .clearfix;
        li{
          float: left;
          max-width: 33.3%;
          margin: 0;
          a {
            width: 300px;
            height: 300px;
            overflow: hidden;
            position: relative;
            &:hover{
              &:after{
                background: rgba(0, 0, 0, 0.5);
              }
            }
            &:after{
              @extend .transition;
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: rgba(0, 0, 0, 0);
            }
          }
          img{
            max-width: inherit;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
          }
          &:nth-child(3n), &:nth-child(5n){
            overflow: hidden;
            max-width: 45%;
            a{
              width: 480px;
              img{
                width: 100%;
                height: auto;
              }
            }
          }
          &:last-child{
            max-width: 33.3%;
            a{
              width: 300px;
              img{
                height: 300px;
                width: initial;
              }
            }
          }
        }
      }
    }
    .view-footer{
      margin-top: 10px;
      a{
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }

  .field--name-field-map{
    position: relative;
    iframe {
      height: 320px;
      width: 100%;
      display: block;
    }
  }

  .view-organizer{
    display: table;
    text-align: center;
    width: 100%;
    padding: 50px 80px;
    background: $organizer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    .view-content{
      display: table;
    }
    .views-row{
      display: table-cell;
      position: relative;
      width: 25%;
      padding: 10px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      .field--name-field-link{
        a{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: block;
          border: none;
          text-indent:-9999px;
          padding: 0;
          &:hover{
            background: none;
          }
        }
      }
    }
  }

  .menu--application{
    .menu{
      text-align: center;
      li{
        display: inline-block;
        padding: 0 10px;
        margin-bottom: 10px;
        a{
          display: block;
          width: 220px;
          height: 90px;
          text-indent: -9999px;
          background-image: url("/themes/cinema/images/icons/google.jpg");
          background-position: 0 100%;
          background-repeat: no-repeat;
        }
        &:first-child{
          a{
            background-position: 0 0;
          }
        }
      }
    }
  }

  #block-kontakti{
    max-width: 100%;
    .field--type-text-with-summary{
      background: $red;
      padding: 20px 100px;
      margin: 0;
      max-width: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      &>div{
        text-align: center;
        color: $white;
        display: inline-block;
        width: 24%;
      }
      .social-links{
        a{
          display: inline-block;
          color: $white;
          text-indent: -9999px;
          padding: 12px 0;
          padding-left: 30px;
          background-image: url("/themes/cinema/images/icons/social.png");
          background-size: auto 19px;
          background-position: 0 50%;
          background-repeat: no-repeat;
        }
        .vk{
          background-image: url("/themes/cinema/images/icons/vk.png");
          background-position: 50% 50%;
        }
        .facebook{
          background-position: 5px 50%;
        }
        .twitter{
          background-position: -33px 50%;
        }
        .youtube{
          background-position: -73px 50%;
        }
        .instagram{
          background-position: -113px 50%;
        }
      }
    }
  }

//------ page gallery ------
  .field--name-field-gallery-images{
    @extend .clearfix;
    .field__item{
      float: left;
      width: 33.33%;
      a{
        height: 300px;
        position: relative;
        overflow: hidden;
        &:hover{
          &:after{
            background: rgba(0, 0, 0, 0.5);
          }
        }
        &:after{
          @extend .transition;
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0);
        }
        img{
          max-width: inherit;
          height: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform:  translate(-50%, -50%);
          -moz-transform:  translate(-50%, -50%);
          -ms-transform:  translate(-50%, -50%);
          -o-transform:  translate(-50%, -50%);
          transform:  translate(-50%, -50%);
        }
      }
    }
  }
  .field--name-field-video-embed{
    margin-top: 60px;
    .field__label{
      font-family: "gotham-bold", sans-serif;
      font-size: 32px;
      line-height: 36px;
      text-align: center;
      text-transform: uppercase;
      margin-top: 20px;
      margin-bottom: 60px;
    }
    .field__items{
      @extend .clearfix;
    }
    .field__item{
      @extend .transition;
      position: relative;
      float: left;
      width: 50%;
      height: auto;
      cursor: pointer;
      &:hover{
        img{
          -webkit-filter: brightness(80%);
          filter: brightness(80%);
        }
        &:before, &:after{
          opacity: 0;
        }
      }
      //round play buttons
      &:before{
        //@extend .transition;
        //content: '';
        //z-index:1;
        //position: absolute;
        //top: 5px;
        //left: 5px;
        //width: 26px;
        //height: 26px;
        //border: 1px solid $white;
        //-webkit-border-radius: 50%;
        //-moz-border-radius: 50%;
        //border-radius: 50%;
      }
      &:after{
        //content: "";
        //z-index: 2;
        //position: absolute;
        //top: 12px;
        //left: 17px;
        //border-left: 8px solid white;
        //border-top: 7px solid transparent;
        //border-bottom: 7px solid transparent;
      }
      //round play buttons

      &:before{
        @extend .transition;
        z-index:1;
        content: '';
        position: absolute;
        bottom: 0;
        left: 40px;
        width: 40px;
        height: 40px;
        background: $red;
      }
      &:after{
        z-index: 2;
        content: "";
        position: absolute;
        bottom: 12px;
        left: 57px;
        border-left: 8px solid white;
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
      }
      img{
        @extend .transition;
        width: 100%;
        -webkit-filter: brightness(60%);
        filter: brightness(60%);
      }
    }
  }

}
















