html{
  position: relative;
  min-height: 100%;
}

strong{
  font-weight: normal;
  font-family: $font-bold;
}

p{
  font-size: 14px;
  line-height: 1.2;
  font-family: $font-regular;
}

a,
a *,
a::before,
a::after {
  text-decoration: none;
}
a {
  color: $red;
  display: block;
  &:focus{
    color: inherit;
  }
}

img{
  max-width: 100%;
  height: auto;
  display: block;
}

ul, ol, li{
  list-style:none;
  padding: 0;
  margin: 0;
}

/* Headings
-------------------------------------------------------------- */
h5 {
  font-size: 1.1em;
}

h6 {
  font-size: 1em;
}

h2{
  font-family: $font-semibold;
  font-size: 32px;
  line-height: 1.2;
  margin-top: 20px;
  margin-bottom: 20px;
}
h3{
  font-family: $font-regular;
  font-size: 24px;
  line-height: 1.2;
  margin-top: 40px;
  margin-bottom: 40px;
  font-weight:normal;
}
h4{
  font-family: $font-regular;
  font-size: 20px;
  line-height: 1.2;
  margin: 25px 0;
}






