/*____________________ Colors _________________*/
$black: #000;
$white: #fff;

$black-border: rgba(0, 0, 0, 0.15);
$page: #1f1f1f;
$gray: #393A3F;
$gray-light: #9C9C9C;
$gray-light-bg: #F7F7F7;
$gray-light-2: #f4f4f4;
$gray-light-ccc: #cccccc;
$red: #eb224a;
$red-light: #F14F5A;
$darken-red: darken($red,4%);
$blue: #2EAAE4;
$organizer: #41ADE6;
$green: #64dd17;

$primary-color: $red;


/*____________________ Fonts _________________*/
$font-regular: "opensans-regular", sans-serif;
$font-bold: "opensans-bold", sans-serif;
$font-semibold: "opensans-semibold", sans-serif;



/*____________________ Wrapper  _________________*/
$page-width: 1080px;
$tablet: 1024px;
$mobile: 768px;





