.tabs{
  ul.primary{
    li{
      a.is-active{
        border: 1px solid $red;
        background: none;
      }
      a:hover{
        border-bottom: 1px solid $red;
        background: none;
      }
    }
  }
}