.play-button {
  &:before {
    content: '';
    position: absolute;
    z-index:1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    margin-left: 2px;
    border-right: 0 solid transparent;
    border-left: 15px solid $white;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border: 2px solid $white;
    border-radius: 50%;
  }
}

.slider-arrow{
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -25px;
  background: none;
  border: none;
  text-indent: -9999px;
  outline: none;
  width: 50px;
  height: 50px;
  cursor: pointer;
  padding: 0;
  &:after{
    content: "";
    position: absolute;
    top: 20px;
    left: 10px;
    width:  10px;
    height: 10px;
    border-left: 2px solid $page;
    border-bottom: 2px solid $page;
    transform: rotate(45deg);
  }
}

.top{
  @include transition;
  position: fixed;
  background: rgba(46, 170, 228, 0.8);
  color: $white;
  font-size: 20px;
  text-align: center;
  width: 50px;
  height: 50px;
  top: 80% ;
  right: 5%;
  opacity: 0;
  padding: 0;
  outline: none;
  border-radius: 3px;
  text-indent: -9999px;
  z-index: 100;
  cursor: pointer;
  &:after{
    content: '';
    position: absolute;
    top: 20px;
    left: 15px;
    width: 20px;
    height: 20px;
    border-left: 3px solid $white;
    border-bottom: 3px solid $white;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  &.active{
    opacity: 1;
  }
  &.fade{
    background: rgba(235, 34, 74, 0.8);
  }
}

.close {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  text-indent: -9999px;
  outline: none;
  background: none;
  width: 20px;
  height: 20px;

  &:before, &:after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 20px;
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    -moz-transform: translate(-50%, -50%) rotate(-45deg);
    -ms-transform: translate(-50%, -50%) rotate(-45deg);
    -o-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  &:before{
    border-left: 2px solid $black;

  }
  &:after{
    border-right: 2px solid $black;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -moz-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    -o-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
  }
}
