input{
  @extend .primary-input;
}

input[type="submit"]{
  @extend .primary-button;
}

label{
  display: block;
}

form{
  max-width: 50%;
  margin: 0 auto;
  text-align: left;
}

.header-input {
  font-family: $font-regular;
  font-size: 16px;
  line-height: 20px;
  color: $white;
  text-indent: 5px;
  text-transform: uppercase;
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 20px 0;
  background-color: transparent;
  background-repeat:no-repeat;
  background-position: 50% 50%;
  border: 1px solid $gray-light;
  outline: none;
  cursor: pointer;
  &:hover{
    background-color: #AB171D;
  }
  &::-webkit-input-placeholder {
    color: transparent;
  }
  &::-moz-placeholder {
    color: transparent;
  }
  &:-moz-placeholder {
    color: transparent;
  }
  &:-ms-input-placeholder {
    color: transparent;
  }
}

.header-submit{
  font-family: $font-regular;
  font-size: 16px;
  line-height: 19px;
  color: $white;
  display: block;
  position: relative;
  width: 60px;
  text-indent: -9999px;
  padding: 20px 0;
  vertical-align: middle;
  background: transparent;
  background-size: 14px auto;
  border: none;
  outline: none;
  cursor: pointer;
  white-space: pre;
}

.primary-input {
  font-family: $font-bold;
  font-size: 16px;
  line-height: 20px;
  color: $gray-light;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
  padding: 15px;
  width: 100%;
  outline: none;
  border: none;
  background: $gray-light-bg;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  @extend .transition;
  &:hover{
    opacity:0.8;
  }

  &::-webkit-input-placeholder {
    color: $gray-light;
  }
  &::-moz-placeholder {
    color: $gray-light;
  }
  &:-moz-placeholder {
    color: $gray-light;
  }
  &:-ms-input-placeholder {
    color: $gray-light;
  }
}

.primary-button{
  font-family: $font-bold;
  font-size: 16px;
  line-height: 20px;
  color: $white;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  background: $red;
  padding: 15px 40px;
  vertical-align: middle;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: all .5s ease 0s;
  &:hover{
    opacity:.8;
    transition: all .5s ease 0s;
  }
}

.input-date{
  font-family: $font-regular;
  font-size: 18px;
  line-height: 40px;
  width: 100%;
  color: $white;
  text-transform: capitalize;
  vertical-align: bottom;
  background-color: transparent;
  padding: 0;
  background-repeat: no-repeat;
  background-position: 100% 2px;
  border: none;
  outline: none;
  cursor: pointer;

  &::-webkit-input-placeholder {
    color: $white;
  }
  &::-moz-placeholder {
    color: $white;
  }
  &:-moz-placeholder {
    color: $white;
  }
  &:-ms-input-placeholder {
    color: $white;
  }
}


