select {
  font-size: 17px;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 76px;
  border: 0;
  padding: 0 40px 0 15px;
  background-color: transparent;
  outline: none;
  background: url("../images/icons/select-arrow.png") no-repeat right 20px center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  &::-ms-expand {
    display: none;
  }
}