/*____________________ Colors _________________*/
/*____________________ Fonts _________________*/
/*____________________ Wrapper  _________________*/
.clearfix:after, .wrapper:after, .events-calendar-form .date-input:after, .events-calendar-form .date-submit:after, body:after, header:after, footer:after, main .region-content > .block:after, main .field--name-field-home-section .paragraph--type--section:after, main .block-views-blockspeaker-speackers-home .view-speaker:after, main #block-programa .schedule:after, main .view-gallery .item-list ul:after, main .field--name-field-gallery-images:after, main .field--name-field-video-embed .field__items:after {
  content: "";
  clear: both;
  display: table; }

.transition, .field--name-field-link a, .primary-input, input, .slick-slider .slick-arrow, .slick-slider .slick-arrow:after, .slick-slider .slick-dots li button, .field--name-field-caption a, main .block-views-blockspeaker-speackers-home .view-speaker .node--type-spicker .speacker-text-wrapper, main .view-gallery .item-list ul li a:after, main .field--name-field-gallery-images .field__item a:after, main .field--name-field-video-embed .field__item, main .field--name-field-video-embed .field__item:before, main .field--name-field-video-embed .field__item img {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }

.wrapper {
  max-width: 1080px;
  margin: 0 auto; }

.overlay:before {
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  background: rgba(255, 255, 255, 0.3);
  width: 100%;
  height: 500px; }

html {
  position: relative;
  min-height: 100%; }

strong {
  font-weight: normal;
  font-family: "opensans-bold", sans-serif; }

p {
  font-size: 14px;
  line-height: 1.2;
  font-family: "opensans-regular", sans-serif; }

a,
a *,
a::before,
a::after {
  text-decoration: none; }

a {
  color: #eb224a;
  display: block; }
  a:focus {
    color: inherit; }

img {
  max-width: 100%;
  height: auto;
  display: block; }

ul, ol, li {
  list-style: none;
  padding: 0;
  margin: 0; }

/* Headings
-------------------------------------------------------------- */
h5 {
  font-size: 1.1em; }

h6 {
  font-size: 1em; }

h2 {
  font-family: "opensans-semibold", sans-serif;
  font-size: 32px;
  line-height: 1.2;
  margin-top: 20px;
  margin-bottom: 20px; }

h3 {
  font-family: "opensans-regular", sans-serif;
  font-size: 24px;
  line-height: 1.2;
  margin-top: 40px;
  margin-bottom: 40px;
  font-weight: normal; }

h4 {
  font-family: "opensans-regular", sans-serif;
  font-size: 20px;
  line-height: 1.2;
  margin: 25px 0; }

@font-face {
  font-family: "opensans-regular";
  src: url(../fonts/Open_Sans/OpenSans-Regular.ttf) format("truetype"), url(../fonts/Open_Sans/OpenSans-Regular.woff) format("woff");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "opensans-semibold";
  src: url(../fonts/Open_Sans/OpenSans-Semibold.ttf) format("truetype"), url(../fonts/Open_Sans/OpenSans-Semibold.woff) format("woff");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "opensans-bold";
  src: url(../fonts/Open_Sans/OpenSans-Bold.ttf) format("truetype"), url(../fonts/Open_Sans/OpenSans-Bold.woff) format("woff");
  font-style: normal;
  font-weight: normal; }
.field--name-field-link a {
  display: inline-block;
  margin: 0 auto;
  color: #eb224a;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.2;
  padding: 13px 60px;
  border: 1px solid #eb224a;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .field--name-field-link a:hover {
    color: #fff;
    background: #eb224a; }

.events-calendar-field {
  display: block;
  width: 100%;
  font-size: 18px;
  line-height: 20px;
  text-transform: capitalize;
  color: #f4f4f4;
  margin-bottom: 20px;
  padding: 15px 20px 15px 20px;
  background-color: #F7F7F7;
  background-repeat: no-repeat;
  background-position: right 20px center;
  border: none;
  border-bottom: 2px solid #F14F5A;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer; }
  .events-calendar-field:first-child {
    margin-left: 0; }

.events-calendar-form .title {
  font-size: 36px;
  line-height: 40px;
  text-transform: capitalize;
  margin-bottom: 25px; }
.events-calendar-form .date-input input {
  float: left;
  width: 48%;
  margin-left: 4%; }
  .events-calendar-form .date-input input:first-child {
    margin-left: 0; }
.events-calendar-form .date-submit input.search {
  background: #eb224a; }
.events-calendar-form .date-submit input {
  float: left;
  border: none;
  width: 48%;
  margin-left: 4%; }
  .events-calendar-form .date-submit input:first-child {
    margin-left: 0; }

.tabs ul.primary li a.is-active {
  border: 1px solid #eb224a;
  background: none; }
.tabs ul.primary li a:hover {
  border-bottom: 1px solid #eb224a;
  background: none; }

.tabs ul.primary li a.is-active {
  border: 1px solid #eb224a;
  background: none; }
.tabs ul.primary li a:hover {
  border-bottom: 1px solid #eb224a;
  background: none; }

.play-button:before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  margin-left: 2px;
  border-right: 0 solid transparent;
  border-left: 15px solid #fff;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; }
.play-button:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 50%; }

.slider-arrow {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -25px;
  background: none;
  border: none;
  text-indent: -9999px;
  outline: none;
  width: 50px;
  height: 50px;
  cursor: pointer;
  padding: 0; }
  .slider-arrow:after {
    content: "";
    position: absolute;
    top: 20px;
    left: 10px;
    width: 10px;
    height: 10px;
    border-left: 2px solid #1f1f1f;
    border-bottom: 2px solid #1f1f1f;
    transform: rotate(45deg); }

.top {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: fixed;
  background: rgba(46, 170, 228, 0.8);
  color: #fff;
  font-size: 20px;
  text-align: center;
  width: 50px;
  height: 50px;
  top: 80%;
  right: 5%;
  opacity: 0;
  padding: 0;
  outline: none;
  border-radius: 3px;
  text-indent: -9999px;
  z-index: 100;
  cursor: pointer; }
  .top:after {
    content: '';
    position: absolute;
    top: 20px;
    left: 15px;
    width: 20px;
    height: 20px;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg); }
  .top.active {
    opacity: 1; }
  .top.fade {
    background: rgba(235, 34, 74, 0.8); }

.close {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  text-indent: -9999px;
  outline: none;
  background: none;
  width: 20px;
  height: 20px; }
  .close:before, .close:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 20px;
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    -moz-transform: translate(-50%, -50%) rotate(-45deg);
    -ms-transform: translate(-50%, -50%) rotate(-45deg);
    -o-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg); }
  .close:before {
    border-left: 2px solid #000; }
  .close:after {
    border-right: 2px solid #000;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -moz-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    -o-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg); }

label {
  display: block; }

form {
  max-width: 50%;
  margin: 0 auto;
  text-align: left; }

.header-input {
  font-family: "opensans-regular", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  text-indent: 5px;
  text-transform: uppercase;
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 20px 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 1px solid #9C9C9C;
  outline: none;
  cursor: pointer; }
  .header-input:hover {
    background-color: #AB171D; }
  .header-input::-webkit-input-placeholder {
    color: transparent; }
  .header-input::-moz-placeholder {
    color: transparent; }
  .header-input:-moz-placeholder {
    color: transparent; }
  .header-input:-ms-input-placeholder {
    color: transparent; }

.header-submit {
  font-family: "opensans-regular", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  display: block;
  position: relative;
  width: 60px;
  text-indent: -9999px;
  padding: 20px 0;
  vertical-align: middle;
  background: transparent;
  background-size: 14px auto;
  border: none;
  outline: none;
  cursor: pointer;
  white-space: pre; }

.primary-input, input {
  font-family: "opensans-bold", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #9C9C9C;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
  padding: 15px;
  width: 100%;
  outline: none;
  border: none;
  background: #F7F7F7;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .primary-input:hover, input:hover {
    opacity: 0.8; }
  .primary-input::-webkit-input-placeholder, input::-webkit-input-placeholder {
    color: #9C9C9C; }
  .primary-input::-moz-placeholder, input::-moz-placeholder {
    color: #9C9C9C; }
  .primary-input:-moz-placeholder, input:-moz-placeholder {
    color: #9C9C9C; }
  .primary-input:-ms-input-placeholder, input:-ms-input-placeholder {
    color: #9C9C9C; }

.primary-button, input[type="submit"] {
  font-family: "opensans-bold", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  background: #eb224a;
  padding: 15px 40px;
  vertical-align: middle;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: all .5s ease 0s; }
  .primary-button:hover, input[type="submit"]:hover {
    opacity: .8;
    transition: all .5s ease 0s; }

.input-date {
  font-family: "opensans-regular", sans-serif;
  font-size: 18px;
  line-height: 40px;
  width: 100%;
  color: #fff;
  text-transform: capitalize;
  vertical-align: bottom;
  background-color: transparent;
  padding: 0;
  background-repeat: no-repeat;
  background-position: 100% 2px;
  border: none;
  outline: none;
  cursor: pointer; }
  .input-date::-webkit-input-placeholder {
    color: #fff; }
  .input-date::-moz-placeholder {
    color: #fff; }
  .input-date:-moz-placeholder {
    color: #fff; }
  .input-date:-ms-input-placeholder {
    color: #fff; }

select {
  font-size: 17px;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 76px;
  border: 0;
  padding: 0 40px 0 15px;
  background-color: transparent;
  outline: none;
  background: url("../images/icons/select-arrow.png") no-repeat right 20px center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  select::-ms-expand {
    display: none; }

.slick-slider .slick-arrow {
  opacity: 1;
  text-indent: -9999px;
  display: block;
  position: absolute;
  z-index: 1;
  bottom: 0;
  width: 60px;
  height: 100%;
  background: rgba(156, 156, 156, 0.5);
  overflow: hidden;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  cursor: pointer; }
  .slick-slider .slick-arrow:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18px;
    height: 18px;
    margin-top: -10px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(45deg); }
  .slick-slider .slick-arrow:hover {
    background: rgba(0, 0, 0, 0.5); }
.slick-slider .slick-prev {
  left: 0; }
  .slick-slider .slick-prev:after {
    left: 25px; }
.slick-slider .slick-next {
  right: 0; }
  .slick-slider .slick-next:after {
    left: 15px;
    transform: rotate(-135deg); }
.slick-slider .slick-dots {
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center; }
  .slick-slider .slick-dots li {
    list-style: none;
    display: inline-block; }
    .slick-slider .slick-dots li button {
      padding: 0;
      display: block;
      width: 12px;
      height: 12px;
      margin: 0 4px;
      text-indent: -9999px;
      border: none;
      box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
      border-radius: 50%;
      outline: none;
      background: none; }
    .slick-slider .slick-dots li.slick-active button {
      background: #9C9C9C;
      box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.5); }
.slick-slider:hover .slick-prev {
  opacity: 1;
  left: 0;
  margin-left: 0; }
.slick-slider:hover .slick-next {
  opacity: 1;
  right: 0;
  margin-right: 0; }
.slick-slider .views-row {
  overflow: hidden; }
  .slick-slider .views-row img {
    width: 100%;
    height: auto;
    max-width: none;
    display: block;
    margin: 0 auto; }

/*____________________ Colors _________________*/
/*____________________ Fonts _________________*/
/*____________________ Wrapper  _________________*/
/* Body
-------------------------------------------------------------- */
body {
  font-family: "opensans-regular", sans-serif;
  margin: 0;
  padding: 0;
  color: #000;
  min-height: 100%;
  background: #fff; }

/* Logo
-------------------------------------------------------------- */
.field--name-field-banner-image {
  position: relative; }
  .field--name-field-banner-image img {
    -webkit-filter: brightness(0.15);
    filter: brightness(0.15);
    -webkit-filter: grayscale(0.6);
    filter: grayscale(0.6); }
  .field--name-field-banner-image:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.85);
    background-size: cover, cover; }

.field--name-field-caption {
  font-family: "opensans-bold", sans-serif;
  font-size: 36px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #eb224a;
  margin: 50px 0 0 0;
  text-decoration: none;
  letter-spacing: 2px; }
  .field--name-field-caption a {
    color: inherit; }
    .field--name-field-caption a:hover {
      color: #393A3F; }

.field--name-field-subtitle {
  font-family: "opensans-semibold", sans-serif;
  font-size: 24px;
  line-height: 1.2;
  color: #2EAAE4;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 35px 0; }

header {
  position: relative;
  background: #fff;
  text-align: center; }
  header:after {
    content: '';
    display: block;
    background: url("/themes/cinema/images/icons/mouse-outline.png") no-repeat 50% 50%;
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: 30px;
    height: 30px; }
  header .field--name-field-banner-image {
    height: 600px;
    overflow: hidden; }
    header .field--name-field-banner-image img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      max-width: none;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
  header .text-wrapper {
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    header .text-wrapper > a {
      width: 100px;
      height: 100px;
      margin: 0 auto;
      display: block; }

footer {
  position: relative; }
  footer .field--name-field-banner-image img {
    width: 100%; }
  footer .field--name-field-link a {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

main {
  text-align: center; }
  main h2.block-title {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 60px;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  main .region-content > .block {
    max-width: 1080px;
    margin: 0 auto;
    margin-top: 70px; }
  main .field--type-text-with-summary {
    max-width: 80%;
    margin: 0 auto;
    margin-top: 45px; }
    main .field--type-text-with-summary p {
      font-size: 18px;
      line-height: 28px;
      text-align-last: center; }
  main .field--name-field-home-section {
    margin-top: 80px; }
    main .field--name-field-home-section .paragraph--type--section {
      width: 100%;
      text-align: center; }
      main .field--name-field-home-section .paragraph--type--section .field--name-field-section-images {
        width: 50%;
        float: left; }
        main .field--name-field-home-section .paragraph--type--section .field--name-field-section-images img {
          width: 100%; }
      main .field--name-field-home-section .paragraph--type--section .text-content-wrapper {
        padding: 0 100px;
        color: #eb224a;
        width: 50%;
        float: right;
        -webkit-transform: translateY(50%);
        -moz-transform: translateY(50%);
        -ms-transform: translateY(50%);
        -o-transform: translateY(50%);
        transform: translateY(50%);
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
      main .field--name-field-home-section .paragraph--type--section .field--name-field-icon img {
        margin: 0 auto; }
      main .field--name-field-home-section .paragraph--type--section .field--name-field-title {
        font-family: "opensans-semibold", sans-serif;
        font-size: 24px;
        text-transform: uppercase;
        margin-top: 30px;
        margin-bottom: 30px; }
    main .field--name-field-home-section > .field__item:nth-child(even) .field--name-field-section-images {
      float: right; }
    main .field--name-field-home-section > .field__item:nth-child(even) .text-content-wrapper {
      color: #2FACE4;
      float: left; }
  main .field--name-field-image img {
    margin: 0 auto; }
  main .field--name-field-info {
    margin-top: 35px; }
  main .block-views-blockspeaker-speackers-home .view-speaker {
    overflow: hidden; }
    main .block-views-blockspeaker-speackers-home .view-speaker .views-row {
      width: 25%;
      float: left; }
    main .block-views-blockspeaker-speackers-home .view-speaker .node--type-spicker > a {
      display: block;
      position: relative; }
      main .block-views-blockspeaker-speackers-home .view-speaker .node--type-spicker > a:hover .speacker-text-wrapper {
        top: 0;
        background: rgba(0, 0, 0, 0.51); }
    main .block-views-blockspeaker-speackers-home .view-speaker .node--type-spicker .speacker-text-wrapper {
      transition: all .3s ease 0s;
      position: absolute;
      top: 100%;
      left: 0;
      text-align: center;
      color: #cbcbcb;
      width: 100%;
      height: 100%; }
      main .block-views-blockspeaker-speackers-home .view-speaker .node--type-spicker .speacker-text-wrapper .inner-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
      main .block-views-blockspeaker-speackers-home .view-speaker .node--type-spicker .speacker-text-wrapper .field--name-title {
        font-size: 22px;
        margin: 10px 0;
        display: block; }
      main .block-views-blockspeaker-speackers-home .view-speaker .node--type-spicker .speacker-text-wrapper .field--name-field-info {
        font-size: 12px;
        margin: 10px 0; }
  main #block-programa .schedule {
    display: table;
    width: 100%;
    color: #fff; }
    main #block-programa .schedule > div {
      display: table-cell;
      text-align: left;
      width: 50%;
      padding: 45px 50px 80px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      main #block-programa .schedule > div div {
        vertical-align: top;
        margin-top: 35px;
        width: 49%;
        display: inline-block;
        text-align: center; }
  main #block-programa .field--name-field-left-column {
    background: #eb224a; }
  main #block-programa .field--name-field-right-column {
    background: #2EAAE4; }
  main .view-gallery .item-list ul {
    margin: 0; }
    main .view-gallery .item-list ul li {
      float: left;
      max-width: 33.3%;
      margin: 0; }
      main .view-gallery .item-list ul li a {
        width: 300px;
        height: 300px;
        overflow: hidden;
        position: relative; }
        main .view-gallery .item-list ul li a:hover:after {
          background: rgba(0, 0, 0, 0.5); }
        main .view-gallery .item-list ul li a:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: transparent; }
      main .view-gallery .item-list ul li img {
        max-width: inherit;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
      main .view-gallery .item-list ul li:nth-child(3n), main .view-gallery .item-list ul li:nth-child(5n) {
        overflow: hidden;
        max-width: 45%; }
        main .view-gallery .item-list ul li:nth-child(3n) a, main .view-gallery .item-list ul li:nth-child(5n) a {
          width: 480px; }
          main .view-gallery .item-list ul li:nth-child(3n) a img, main .view-gallery .item-list ul li:nth-child(5n) a img {
            width: 100%;
            height: auto; }
      main .view-gallery .item-list ul li:last-child {
        max-width: 33.3%; }
        main .view-gallery .item-list ul li:last-child a {
          width: 300px; }
          main .view-gallery .item-list ul li:last-child a img {
            height: 300px;
            width: initial; }
  main .view-gallery .view-footer {
    margin-top: 10px; }
    main .view-gallery .view-footer a:hover {
      text-decoration: underline; }
  main .field--name-field-map {
    position: relative; }
    main .field--name-field-map iframe {
      height: 320px;
      width: 100%;
      display: block; }
  main .view-organizer {
    display: table;
    text-align: center;
    width: 100%;
    padding: 50px 80px;
    background: #41ADE6;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    main .view-organizer .view-content {
      display: table; }
    main .view-organizer .views-row {
      display: table-cell;
      position: relative;
      width: 25%;
      padding: 10px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      main .view-organizer .views-row .field--name-field-link a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        border: none;
        text-indent: -9999px;
        padding: 0; }
        main .view-organizer .views-row .field--name-field-link a:hover {
          background: none; }
  main .menu--application .menu {
    text-align: center; }
    main .menu--application .menu li {
      display: inline-block;
      padding: 0 10px;
      margin-bottom: 10px; }
      main .menu--application .menu li a {
        display: block;
        width: 220px;
        height: 90px;
        text-indent: -9999px;
        background-image: url("/themes/cinema/images/icons/google.jpg");
        background-position: 0 100%;
        background-repeat: no-repeat; }
      main .menu--application .menu li:first-child a {
        background-position: 0 0; }
  main #block-kontakti {
    max-width: 100%; }
    main #block-kontakti .field--type-text-with-summary {
      background: #eb224a;
      padding: 20px 100px;
      margin: 0;
      max-width: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      main #block-kontakti .field--type-text-with-summary > div {
        text-align: center;
        color: #fff;
        display: inline-block;
        width: 24%; }
      main #block-kontakti .field--type-text-with-summary .social-links a {
        display: inline-block;
        color: #fff;
        text-indent: -9999px;
        padding: 12px 0;
        padding-left: 30px;
        background-image: url("/themes/cinema/images/icons/social.png");
        background-size: auto 19px;
        background-position: 0 50%;
        background-repeat: no-repeat; }
      main #block-kontakti .field--type-text-with-summary .social-links .vk {
        background-image: url("/themes/cinema/images/icons/vk.png");
        background-position: 50% 50%; }
      main #block-kontakti .field--type-text-with-summary .social-links .facebook {
        background-position: 5px 50%; }
      main #block-kontakti .field--type-text-with-summary .social-links .twitter {
        background-position: -33px 50%; }
      main #block-kontakti .field--type-text-with-summary .social-links .youtube {
        background-position: -73px 50%; }
      main #block-kontakti .field--type-text-with-summary .social-links .instagram {
        background-position: -113px 50%; }
  main .field--name-field-gallery-images .field__item {
    float: left;
    width: 33.33%; }
    main .field--name-field-gallery-images .field__item a {
      height: 300px;
      position: relative;
      overflow: hidden; }
      main .field--name-field-gallery-images .field__item a:hover:after {
        background: rgba(0, 0, 0, 0.5); }
      main .field--name-field-gallery-images .field__item a:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent; }
      main .field--name-field-gallery-images .field__item a img {
        max-width: inherit;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
  main .field--name-field-video-embed {
    margin-top: 60px; }
    main .field--name-field-video-embed .field__label {
      font-family: "gotham-bold", sans-serif;
      font-size: 32px;
      line-height: 36px;
      text-align: center;
      text-transform: uppercase;
      margin-top: 20px;
      margin-bottom: 60px; }
    main .field--name-field-video-embed .field__item {
      position: relative;
      float: left;
      width: 50%;
      height: auto;
      cursor: pointer; }
      main .field--name-field-video-embed .field__item:hover img {
        -webkit-filter: brightness(80%);
        filter: brightness(80%); }
      main .field--name-field-video-embed .field__item:hover:before, main .field--name-field-video-embed .field__item:hover:after {
        opacity: 0; }
      main .field--name-field-video-embed .field__item:before {
        z-index: 1;
        content: '';
        position: absolute;
        bottom: 0;
        left: 40px;
        width: 40px;
        height: 40px;
        background: #eb224a; }
      main .field--name-field-video-embed .field__item:after {
        z-index: 2;
        content: "";
        position: absolute;
        bottom: 12px;
        left: 57px;
        border-left: 8px solid white;
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent; }
      main .field--name-field-video-embed .field__item img {
        width: 100%;
        -webkit-filter: brightness(60%);
        filter: brightness(60%); }

@media screen and (max-width: 1024px) {
  main .view-gallery .item-list ul li, main .view-gallery .item-list ul li:last-child {
    width: 30%;
    max-width: none; }
    main .view-gallery .item-list ul li a, main .view-gallery .item-list ul li:last-child a {
      width: 100%; }
    main .view-gallery .item-list ul li:nth-of-type(3), main .view-gallery .item-list ul li:nth-of-type(5), main .view-gallery .item-list ul li:last-child:nth-of-type(3), main .view-gallery .item-list ul li:last-child:nth-of-type(5) {
      width: 40%;
      max-width: none; }
      main .view-gallery .item-list ul li:nth-of-type(3) a, main .view-gallery .item-list ul li:nth-of-type(5) a, main .view-gallery .item-list ul li:last-child:nth-of-type(3) a, main .view-gallery .item-list ul li:last-child:nth-of-type(5) a {
        width: 100%; }
        main .view-gallery .item-list ul li:nth-of-type(3) a img, main .view-gallery .item-list ul li:nth-of-type(5) a img, main .view-gallery .item-list ul li:last-child:nth-of-type(3) a img, main .view-gallery .item-list ul li:last-child:nth-of-type(5) a img {
          width: auto;
          height: 100%; }
  main .view-organizer {
    padding: 25px; }
  main #block-kontakti .field--type-text-with-summary > div {
    width: 49%; } }
@media screen and (max-width: 768px) {
  header:after {
    display: none; }
  header .field--name-field-banner-image img {
    width: auto;
    max-width: none; }

  footer {
    overflow: hidden; }
    footer .field--name-field-banner-image {
      height: 500px; }
      footer .field--name-field-banner-image img {
        overflow: hidden;
        width: auto;
        max-width: none;
        height: 100%; }

  main h2.block-title {
    font-size: 21px; }
  main .field--name-field-home-section .paragraph--type--section .field--name-field-section-images {
    width: 100%;
    float: none; }
  main .field--name-field-home-section .paragraph--type--section .text-content-wrapper {
    width: 100%;
    float: none;
    padding: 120px 50px;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  main .block-views-blockspeaker-speackers-home .view-speaker {
    height: auto; }
    main .block-views-blockspeaker-speackers-home .view-speaker .views-row {
      width: 100%; }
      main .block-views-blockspeaker-speackers-home .view-speaker .views-row .field--name-field-image {
        max-height: 400px; }
        main .block-views-blockspeaker-speackers-home .view-speaker .views-row .field--name-field-image img {
          width: 100%; }
      main .block-views-blockspeaker-speackers-home .view-speaker .views-row .speacker-text-wrapper .field--name-title {
        font-size: 32px; }
      main .block-views-blockspeaker-speackers-home .view-speaker .views-row .speacker-text-wrapper .field--name-field-info {
        font-size: 22px; }
  main #block-programa .schedule > div {
    width: 100%;
    padding: 25px;
    display: block; }
    main #block-programa .schedule > div div {
      display: block;
      width: 100%; }
  main .view-gallery .item-list ul li, main .view-gallery .item-list ul li:nth-of-type(5) {
    width: 45%;
    max-width: 45%; }
    main .view-gallery .item-list ul li:nth-of-type(2), main .view-gallery .item-list ul li:nth-of-type(3), main .view-gallery .item-list ul li:last-child, main .view-gallery .item-list ul li:nth-of-type(5):nth-of-type(2), main .view-gallery .item-list ul li:nth-of-type(5):nth-of-type(3), main .view-gallery .item-list ul li:nth-of-type(5):last-child {
      width: 55%;
      max-width: 55%; }
      main .view-gallery .item-list ul li:nth-of-type(2) a, main .view-gallery .item-list ul li:nth-of-type(3) a, main .view-gallery .item-list ul li:last-child a, main .view-gallery .item-list ul li:nth-of-type(5):nth-of-type(2) a, main .view-gallery .item-list ul li:nth-of-type(5):nth-of-type(3) a, main .view-gallery .item-list ul li:nth-of-type(5):last-child a {
        width: 100%; }
        main .view-gallery .item-list ul li:nth-of-type(2) a img, main .view-gallery .item-list ul li:nth-of-type(3) a img, main .view-gallery .item-list ul li:last-child a img, main .view-gallery .item-list ul li:nth-of-type(5):nth-of-type(2) a img, main .view-gallery .item-list ul li:nth-of-type(5):nth-of-type(3) a img, main .view-gallery .item-list ul li:nth-of-type(5):last-child a img {
          width: auto;
          height: 100%; }
  main .field--name-field-map {
    cursor: pointer; }
    main .field--name-field-map:before {
      -webkit-transition: all 0.5s ease 0s;
      -moz-transition: all 0.5s ease 0s;
      -o-transition: all 0.5s ease 0s;
      transition: all 0.5s ease 0s;
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: 1;
      background: rgba(255, 255, 255, 0.3);
      width: 100%;
      height: 500px; }
    main .field--name-field-map.overlay-hide:before {
      top: 100%;
      height: 0; }
    main .field--name-field-map iframe {
      height: 500px; }
  main .view-organizer .views-row {
    width: 50%;
    float: left;
    vertical-align: top; }
  main #block-kontakti .field--type-text-with-summary {
    padding: 25px; }
    main #block-kontakti .field--type-text-with-summary > div {
      font-size: 20px;
      display: block;
      width: 100%;
      margin-bottom: 15px; }
      main #block-kontakti .field--type-text-with-summary > div:last-child {
        margin-bottom: 0; }
  main a.top {
    width: 40px;
    height: 40px; }
    main a.top:after {
      top: 15px;
      left: 12px;
      width: 15px;
      height: 15px;
      border-left-width: 2px;
      border-bottom-width: 2px; }
  main .field--name-field-gallery-images .field__item {
    width: 50%; }
  main .field--name-field-video-embed .field__item {
    width: 100%; }

  .slick-slider .slick-arrow {
    width: 40px; }
  .slick-slider .slick-prev {
    left: 0; }
    .slick-slider .slick-prev:after {
      left: 15px; }
  .slick-slider .slick-next {
    right: 0; }
    .slick-slider .slick-next:after {
      left: 5px;
      transform: rotate(-135deg); } }

/*# sourceMappingURL=base.css.map */
