.social-share{
  ul {
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
    @extend .clearfix;
    li {
      float: left;
      margin-right: 20px;
      &:last-child{
        margin-right: 0;
      }
      a{
        float: left;
        text-indent: -9999px;
        background-color: rgba(0, 0, 0, 0.5);
        background-image: url(../img/sc-social.png);
        background-position: 0 0;
        background-repeat:no-repeat;
        border-radius: 50%;
        width:  60px;
        height: 60px;
        &:hover{
          @extend .transition;
          background-color: hsla(0, 0, 50%, 0.5);
        }
      }
      .facebook{
        background-position: 20px 50%;
      }
      .twitter{
        background-position: -50px 50%;
      }
      .pinterest{
        background-position: -130px 50%;
      }
      .instagram{
        background-position: -207px 50%;
      }
      .vimeo {
        background-position: -285px 50%;
      }
    }
  }
}