.slick-slider{
  .slick-arrow{
    opacity: 1;
    text-indent: -9999px;
    display: block;
    position: absolute;
    z-index: 1;
    bottom: 0;
    width: 60px;
    height: 100%;
    background: rgba( $gray-light, .5 );
    overflow: hidden;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    @extend .transition;
    &:after{
      @extend .transition;
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 18px;
      height: 18px;
      margin-top: -10px;
      border-left: 2px solid $white;
      border-bottom: 2px solid $white;
      transform: rotate(45deg);
    }
    &:hover{
      background: rgba( $black, .5 );
    }
  }
  .slick-prev{
    left: 0;
    &:after{
      left: 25px;
    }
  }
  .slick-next{
    right: 0;
    &:after{
      left: 15px;
      transform: rotate(-135deg);
    }
  }
  .slick-dots{
    //js file: //dots: true,
    position: absolute;
    z-index:10;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    li{
      list-style:none;
      display: inline-block;
      button{
        @extend .transition;
        padding: 0;
        display: block;
        width: 12px;
        height: 12px;
        margin: 0 4px;
        text-indent: -9999px;
        border: none;
        box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
        border-radius: 50%;
        outline: none;
        background: none;
      }
      &.slick-active{
        button{
          background: $gray-light;
          box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
  &:hover{
    .slick-prev{
      opacity: 1;
      left: 0;
      margin-left: 0;
    }
    .slick-next{
      opacity: 1;
      right: 0;
      margin-right: 0;
    }
  }
  .views-row{
    overflow: hidden;
    img{
      width: 100%;
      height: auto;
      max-width: none;
      display: block;
      margin: 0 auto;
    }
  }
}


